<div class="row">
  <div class="col-xs-6 col-xs-offset-3">


    <form action="/users" method="post" >
      <textarea name="first" class="form-control" placeholder="Enter your first name: " rows="1"></textarea>
      <textarea name="last" class="form-control" placeholder="Enter your last name: " rows="1"></textarea>
      <textarea name="day" class="form-control" placeholder="Enter your first name: " rows="1"></textarea>
      <textarea name="event_start" class="form-control" placeholder="Enter your last name: " rows="1"></textarea>
      <textarea name="event_end" class="form-control" placeholder="Enter your first name: " rows="1"></textarea>
      <button type="submit" class="btn btn-primary pull-right">Confirm</button>
      <button type="submit" class="btn btn-primary pull-right">Update</button>
    </form>
  </div>
</div>
{{#each users}}
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          First name: {{first}} <br>
          Last Name:  {{last}} <br>
          Day:  {{day}} <br>
          Time Start: {{event_start}} <br>
          Time End: {{event_end}}
          <!-- <p> {{createdAt}}</p> -->
        </div>
      </div>
    </div>
  </div>
{{/each}}

