<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <!-- Posting form -->
    <form action="/users" method="post">
      <textarea name="user_name" class="form-control" placeholder="Enter your user_name: " rows="1"></textarea>
      <textarea name="event_name" class="form-control" placeholder="Enter the event_name: " rows="1"></textarea>
      <textarea name="date" class="form-control" placeholder="Enter the date of the event: " rows="1"></textarea>
      <textarea name="time_start" class="form-control" placeholder="Start time (e.g. HH:MM = 03:30): " rows="1"></textarea>
      <textarea name="time_end" class="form-control" placeholder="End time (e.g. HH:MM = 03:30): " rows="1"></textarea>
      <button type="submit" class="btn btn-primary pull-right">Confirm</button>
    </form>

    <!-- Delete Form -->
    <h1> BELOW IS DELETE </h1>
    <form action="/users/delete" method="post">
      <textarea name="user_name" class="form-control" placeholder="Enter your user_name: " rows="1"></textarea>
      <textarea name="event_name" class="form-control" placeholder="Enter the event_name: " rows="1"></textarea>
      <textarea name="date" class="form-control" placeholder="Enter the date of the event: " rows="1"></textarea>
      <textarea name="time_start" class="form-control" placeholder="Start time (e.g. HH:MM = 03:30): " rows="1"></textarea>
      <textarea name="time_end" class="form-control" placeholder="End time (e.g. HH:MM = 03:30): " rows="1"></textarea>
      <button type="submit" class="btn btn-primary pull-right">Delete</button>
    </form>
  </div>
</div>
{{#each users}}
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          User: {{user_name}} <br>
          Event:  {{event_name}} <br>
          Date:  {{date}} <br>
          Time Start: {{time_start}} <br>
          Time End: {{time_end}}
          <!-- <p> {{createdAt}}</p> -->
        </div>
      </div>
    </div>
  </div>
{{/each}}

